<h1>Loan Payment Calculator</h1>
<%= form_with url: "/payment/new", method: :get do %>
  <p>APR:</p>
  <%= number_field_tag :apr %>
  
  <p>Years:</p>
  <%= number_field_tag :years %>
  
  <p>Principal:</p>
  <%= number_field_tag :principal %>
  
  <%= submit_tag "Calculate" %>
<% end %>

<% if @result %>
  <p>Your monthly payment is <%= number_to_currency(@result) %>.</p>
<% end %>
